body{

    align-content: center;
}

figure {
    border: 1px #ffffff solid;
    padding: 4px;
    margin: auto;
  }
  
  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }