<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/mystyle.css">
    <title>Error Page</title>
</head>
<body>
    <form action="/" method="POST">
        
        <div style="position: absolute; top: 0; right: 0;">
            <button>CLICK HERE TO GO HOME</button></div>
            <img src="https://blog.hubspot.com/hs-fs/hubfs/404-error-page-spotify.jpg?width=650&name=404-error-page-spotify.jpg" alt="">
    </form>
</body>
</html>