<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <title>Index</title>
    <link rel="stylesheet" href="/css/mystyle.css">

</head>

<body>

    <form action="/info" method="POST">

    {{range . }} 
       <!-- <figure> -->
       <button><img src="{{.Image}}" alt="Band Picture" width="175" height="210" ali ></button>
        
        <!-- <figcaption>Band: {{.Name}}</figcaption>
        <figcaption>Formed in: {{.CreationDate}}</figcaption>  -->
        
        
        
        
        {{end}}
        
        <!-- <figure> -->
      
            
          
    
           
    </form>

   
   


</body>

</html>
